

body {
  background:white;
  font-family: 'Titillium Web', sans-serif;
}


.form {
  background:black;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 0px 4px #70c970;
  height: auto;
  margin: 20px auto;
  border-radius: 4px;
  
}


label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: black;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
  padding-bottom:2%;
}


label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.highlight {
  color:white;
}

input, textarea {
  font-size: 25px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  
  box-shadow:0px 0px 4px white;
  border:none;
  color:white;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color:black;
}

textarea {
  border: 2px solid black;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.button {
  border: 0;
  outline: none;
 border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color:#ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;

}

.button-block {
   margin-left:25%;
   margin-bottom:5%;
  width:50%;
  background-color:yellow;
  padding-left:20px;
  font-color:#f54e0c;

}
  
#img1
{
  margin-left:2%;
  margin-top:-27%;
  width: 80%;
  position: relative;

}
#nav
{
  box-shadow: 0px 0px 10px black;
 padding: 20px; 
 background-color:#fbfdf5;
 border:none;  
}
.navbar-toggle
{
  background-color:#e3c38b;
  box-shadow: 0px 0px 3px black;
  width: 30px;
  height: 30px;
}
.h1

{
  padding:30px;
  color: white;
  text-shadow: 1px 1px 3px #025802;
}
#myNavbar{
  text-align: center;
}
#text1{
  font-family: calibri;
  font-style: inherit;
  font-size: 34px;
  text-shadow: 0px 0px 2px #024602;
  color:#024602;
  
}
#input{
  box-shadow: 0px 0px 4px white;

  border:none;
  border-radius: 3px;
}
label{
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 0px 1px 3px #000;
}
#btn1
{
  border-radius:5px;
  color:red;
  opacity: 0.8;
  
  
  
}
#submit{
  color: white;
}
#log{
padding-top:20px; 


}
#button button-block{

  font-color:red;
}
#name{
  

  background-color:white; 
  height: 40px;
  font-size:15px;
}

.texty{

  font-size: 60px;
  font-color:red;
  padding-bottom: 90px;

}